:root {
  --gold: #ffd700;
  --darkgold: #ac9202;
  --grey: #d8d8d8;
  --darkgrey: #343434;
  --black-background: #111010cc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 90px;
  background: url("../images/002-logo-mdp.jpg") no-repeat fixed;
  background-size: cover;
}

img {
  width: 50px;
  margin: 0;
  border-radius: 50%;
}
.header {
  width: 100%;
  height: 100px;
  padding: 0 20px;
  top: 0;
  left: 0;
  background-color: var(--darkgrey);
  border-bottom: 1px solid var(--gold);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo__div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.firma {
  margin-left: 10px;
  list-style: none;
  color: #fff;
}

/* --------- Menu --------- */
.menu {
  margin-left: auto;
}
.link {
  text-decoration: none;
  color: #fff;
}
.link:visited {
  text-decoration: none;
  color: #fff;
}
.link::after {
  content: "";
  display: block;
  height: 0.2em;
  width: 0%;
  background-color: var(--gold);
  border-radius: 0.5em;
  right: -1em;
  transition: all ease-in-out 0.5s;
}
.link:hover::after {
  width: 100%;
}
.link:hover {
  transition: all ease-in 0.3s;
}
.item-firma {
  font-size: 0.8em;
}
.item-firma:last-child {
  margin-bottom: 0.3em;
}

#name {
  font-size: 18px;
}
.prof {
  font-size: 9px;
}
/* --------- Items Nav --------- */
.lista {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.slide {
  list-style: none;
}

.item {
  text-decoration: none;
  padding: 20px 30px;
  color: white;
}
.listItem {
  position: relative;
  text-align: center;
}

.slide {
  position: absolute;
  display: none;
  top: 33px;
  background: var(--darkgrey);
  border-radius: 3px;
  border: 1px solid var(--gold);
  width: 200px;
}

.listItem:hover > .slide {
  display: block;
}
.listItem .slide li:hover > ul {
  display: block;
}

.slide ul {
  position: absolute;
  right: 200px;
  top: 0;
}
.item:hover {
  background: var(--darkgrey);
  border-radius: 3px;
  border: 1px solid var(--gold);
}
.slide:hover {
  border: 1px solid var(--gold);
}
.slide li a {
  color: white;
  padding: 10px 20px;
  display: block;
}

#boton {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: none;
}

/* --------- Icono del Sub-menú Servicios --------- */
.fas.fa-angle-down {
  margin-left: 0.2em;
  color: var(--gold);
}
/* --------- Main --------- */
.title-container h2 {
  font-size: 10em;
  font-weight: 900;
  color: #ac9202;
  line-height: 1;
  margin-top: 0.3em;
}
.title-container h3 {
  font-size: 4em;
  font-weight: 500;
  margin-bottom: 1em;
}
.title-container p {
  font-size: 2.4em;
  font-weight: bold;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
  margin-top: 10em;
}
.body-container {
  width: 30em;
  padding: 2em;
  background-color: var(--black-background);
  box-shadow: 5px 10px 10px 0px var(--black-background);
  border-radius: 0.5em;
  margin: 4em;
}
.paragraph {
  font-size: 1em;
  text-align: justify;
  color: var(--grey);
}
/* --------- Footer --------- */
.footer-content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: max-content;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--black-background);
  border-top: 1px solid var(--gold);
}
.inner-footer {
  margin: 0;
  padding: 0;
}
.social-links {
  display: flex;
  width: 100%;
}
.social-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.redes {
  display: block;
  padding: 10px 40px;
}
.outer-footer {
  width: 100%;
}
.outer-footer h3 {
  padding: 0.4em;
  font-size: 1em;
  font-weight: 200;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 992px) {
    #boton {
    display: block;
  }
  .menu {
    width: 300px;
    height: calc(100vh - 60px);
    background: var(--darkgrey);
    position: absolute;
    top: 70px;
    right: -100%;
    transition: all 1s;
    overflow-y: scroll;
  }
  .lista {
    flex-direction: column;
  }
  .slide {
    position: relative;
    top: 0;
    display: none;
    width: 100%;
  }
  .slide ul {
    position: relative;
    top: 0;
    left: 0;
  }
  a {
    display: block !important;
  }
  .listItem > .slide li a {
    margin: 0px;
  }
  .listItem .slide li > ul li a {
    margin-left: 0px;
  }
  .listItem:hover > .slide {
    display: none;
  }
  .listItem .slide li:hover > ul {
    display: none;
  }
  .main-container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr;
  }
  .title-container h2 {
    font-size: 8em;
  }
  .title-container h3 {
    font-size: 3em;
  }
  .title-container p {
    line-height: 0;
  }
}
@media screen and (max-width: 380px) {
  .menu {
    width: 100%;
  }
}
