:root {
  --gold: #ffd700;
  --grey: #342e2e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  min-height: 10vh;
  background-color: var(--grey);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
}

.img-logo {
  width: 20%;
  margin: 0em 1em;
}

a.logo-am {
  text-decoration: none;
  color: #fff;
  font-size: 1.4em;
}

#logo-am::after {
  content: "";
  display: block;
  height: 0.3em;
  width: 0%;
  background-color: var(--gold);
  bottom: -1em;
  transition: all ease-in-out 0.5s;
}

#logo-am:hover::after {
  width: 100%;
}

#logo-am:hover {
  transition: all ease-in-out 0.5s;
  color: var(--gold);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding-right: 1em;
}

li a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.3em;
  width: 0%;
  background-color: var(--gold);
  bottom: -1em;
  transition: all ease-in-out 0.5s;
}

li a:hover::after {
  width: 100%;
}

li a:hover {
  transition: all ease-in-out 0.5s;
  color: var(--gold);
}

.item-list {
  margin-right: 1.5em;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 9vh;
    background-color: #342e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
